
@mixin standard-setup (){
    margin: 0;
    padding: 0;
}
// Hiding effect
@mixin hide {
    opacity: 0;
    visibility: hidden;
  }
//   Revealing effect
@mixin revel {
    opacity: 1;
    visibility: visible;
  }
//   Spiral effect
@mixin fade-spiral($font-size,$time,$transform,$turn) {
    font-size: $font-size;
    transition: $time;
    transform: $transform;
    transform: $turn;
  }
  @mixin section-box ($height) {
    margin-top: 35px;
    width: 80vw;
    height: $height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 177, 197);
    border: 3px solid whitesmoke;
  }
  @mixin titles-box (){
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 15vh;
    color: whitesmoke;
    font-size: 25px; 
  }