//Vendor
// @import "./vendor/_vendor-dir";

//Abstracts
// @import "./abstracts/_abstracts-dir";

//Base Styles
// @import "./base/_base-dir";

//Components
// @import "./components/_components-dir";

//Layout
// @import "./layouts/_layouts-dir";
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dongle&family=Lato:ital@1&family=Roboto:wght@100;300&family=Source+Sans+Pro:wght@300&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(215, 221, 238);
}
// menu
header {
    ul {
        width: 100vw;
        height: 10vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(93, 118, 140, 0.5);
        li {
            list-style: none;
                a {
                    color: whitesmoke;
                    text-decoration: none;
                    font-family: "source sans pro";
                    font-size: 30px;
                    font-weight: 900;
                     list-style: none;
                    &:hover {
                        color: rgb( 93, 118, 140);
                        
                }
            }
        }
    }
}
// Name and picture
.intro {
    width: 55vw;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(162, 177, 197);
    // border: 3px solid whitesmoke;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        .name {
            width: 20vw;
            height: 15vh;
            background-color: rgb(128, 144, 166, 0.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: 2px solid rgb(128, 144, 166);
            h1 {
                width: 20vw;
                height: 7vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                color: whitesmoke; 
            }
            p {
                width: 20vw;
                height: 5vh;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: "source sans pro";
                color: whitesmoke;
                font-size: 20px;
                font-weight: 900;
            }
            
        }
        .picture {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20vw;
                 height: 27vh;
            }    
        }    
    }   
}
// About me section
.about-me {
    margin-top: 35px;
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(162, 177, 197);
    border: 3px solid whitesmoke;
    .titles {
        margin: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 15vh;
        color: whitesmoke;
        font-size: 20px;
        p {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            font-family: "source sans pro";
            font-weight: 900;
        }
    }
     .container {
         width: 70vw;
         height: 40vh;
         display: flex;
         flex-direction: row;
         justify-content: space-evenly;
         div {
             width: 20vw;
             height: 40vh;
             display: flex;
             justify-content: space-between;
             align-items: center;
             word-spacing: 5px;
             background-color: rgb(128, 144, 166, 0.5);
             border: 2px solid rgb(128, 144, 166);
             color: whitesmoke;
             font-size: 20px;
         }
     }
}
// My skills section
.my-skills {
    margin-top: 35px;
    width: 80vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(162, 177, 197);
    border: 3px solid whitesmoke;
    .titles {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 15vh;
        color: whitesmoke;
        font-size: 20px; 
    }
    .skills {
        width: 60vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        background-color: rgb(128, 144, 166, 0.5);
        border: 2px solid rgb(128, 144, 166); 
        color: whitesmoke;
        font-size: 20px;
        p {
            padding: 0px 30px 0px 50px;
        }
        p:nth-child(even) {
            font-size: 70px;
           
        }
        p:nth-child(odd){
            font-size: 50px;
        }  
    }
}
// My Work section
.my-work {

}